{:paths ["src/clojure" "target/classes"]
 :deps {org.yaml/snakeyaml {:mvn/version "1.33"}
        org.flatland/ordered {:mvn/version "1.5.9"}}
 :deps/prep-lib {:alias :build
                 :fn compile-java
                 :ensure "target/classes"}
 :aliases
 {;; we use babashka/neil for project attributes
  ;; publish workflow references these values (and automatically bumps patch)
  :neil {:project {:version "1.0.25"
                   :name clj-commons/clj-yaml}}
  :1.8 {:override-deps {org.clojure/clojure {:mvn/version "1.8.0"}}}
  :1.9 {:override-deps {org.clojure/clojure {:mvn/version "1.9.0"}}}
  :1.10 {:override-deps {org.clojure/clojure {:mvn/version "1.10.3"}}}
  :1.11 {:override-deps {org.clojure/clojure {:mvn/version "1.11.1"}}}
  :test {:extra-paths ["test"]
         :extra-deps {io.github.cognitect-labs/test-runner
                      {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
         :main-opts ["-m" "cognitect.test-runner"]}
  :build
  {:extra-paths ["build"]
   :deps {io.github.clojure/tools.build {:git/tag "v0.8.3" :git/sha "0d20256"}
          slipset/deps-deploy {:mvn/version "0.2.0"}}
   :ns-default build}
  ;; for consistent linting we use a specific version of clj-kondo through the jvm
  :clj-kondo {:extra-deps {clj-kondo/clj-kondo {:mvn/version "2022.09.08"}}
              :override-deps {org.clojure/clojure {:mvn/version "1.11.1"}}
              :main-opts ["-m" "clj-kondo.main"]}}}
